<!DOCTYPE html>
<div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h1>Organisatie toevoegen</h1>
        </div>

        <form name="registrationForm" class="panel-body" ng-submit="create()" novalidate>

            <div class="form-group">
                <label class="control-label">Organisatie naam</label>
                <input type="text" class="form-control" ng-model="companyname" placeholder="Bijv. Hogeschool Leiden " ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Contactpersoon</label>
                <input type="text" class="form-control" ng-model="contactperson" placeholder="Bijv. Puk " ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Telefoon nummer</label>
                <input type="text" class="form-control" ng-model="phoneNumber" placeholder="Bijv. 071 518 8800 " ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">E-mailadres</label>
                <input type="text" class="form-control" ng-model="email" placeholder="Bijv. info@domein.nl " ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Adres</label>
                <input type="text" class="form-control" ng-model="address" placeholder="Bijv. Zernikdreef 11" ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Postcode</label>
                <input type="text" class="form-control" ng-model="postcode" placeholder="Bijv. 1234AB" ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Plaatsnaam</label>
                <input type="text" class="form-control" ng-model="city" placeholder="Bijv. Leiden" ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Tags</label>
                <input type="text" class="form-control" ng-model="tag" placeholder="Bijv. Rolstoel, Slechtziend" ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Notitie</label>
                <textarea class="form-control" ng-model="noteText" placeholder="Hier kunt u een notitie schrijven" rows="5"></textarea>
            </div>

            <input type="submit" class="btn btn-primary" value="Aanmaken" ng-disabled="registrationForm.$invalid" />
            <input type="button" class="btn btn-primary" value="Annuleren" onClick="history.go(-1);return true;" />

        </form>

    </div>
</div>