<!DOCTYPE html>
<div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h5>Toevoegen Medewerker</h5>
        </div>

        <form name="registrationForm" class="panel-body" ng-submit="register()" novalidate>
            <!--ng-required="true" betekent dat je iets kan invoeren-->
            <div class="form-group">
                <label class="control-label">Voornaam</label>
                <input type="text" class="form-control" ng-model="firstName" placeholder="Mike " ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Achternaam</label>
                <input type="text" class="form-control" ng-model="lastName" placeholder="Bol " ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Geboortedatum</label>
                <input type="text" class="form-control" ng-model="birthDate" placeholder="01-01-1990 " ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Studie</label>
                <input type="text" class="form-control" ng-model="study" placeholder="Informatica " ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Adres</label>
                <input type="text" class="form-control" ng-model="address" placeholder="Stadhuisplein 1" ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Postcode</label>
                <input type="text" class="form-control" ng-model="postcode" placeholder="1234AB" ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Woonplaats</label>
                <input type="text" class="form-control" ng-model="city" placeholder="Amsterdam" ng-required="true" />
            </div>

            <!--<p>-->
                <!--<a ng-click="checkAddress()">Adres controleren</a>-->
            <!--</p>-->

            <div class="form-group">
                <label class="control-label">E-mailadres</label>
                <input type="emailAddress" class="form-control" ng-model="email" placeholder="a@a.nl" ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Telefoon</label>
                <input type="text" class="form-control" ng-model="phoneNumber" placeholder="0612345678" ng-required="true" />
            </div>

            <div class="form-group">
                <label class="control-label">Tags</label>
                <input type="text" class="form-control" ng-model="tag" placeholder="Slechtziend" ng-required="true" />
            </div>

            <input type="submit" class="btn btn-primary" value="Aanmaken" ng-disabled="registrationForm.$invalid" />
            <!--Gaat één pagina terug, zonder veranderingen-->
            <input type="button" class="btn btn-primary" value="Annuleren" onClick="history.go(-1);return true;" />

        </form>

    </div>
</div>