<div class="panel panel-default"  ng-app="materialExample">

    <div style="height: 800px;">
        <calendar-md id="calendar-demo"
                     flex layout layout-fill
                     calendar-direction="direction"
                     on-prev-month="prevMonth"
                     on-next-month="nextMonth"
                     on-day-click="dayClick"
                     title-format="'MMMM y'"
                     ng-model='selectedDate'
                     day-format="dayFormat"
                     day-label-format="'EEE'"
                     day-label-tooltip-format="'EEEE'"
                     day-tooltip-format="'fullDate'"
                     week-starts-on="weekStartsOn"
                     start-Date-of-month="1"
                     no-of-days="30"
                     tooltips="true"
                     day-content="setDayContent"
                     disable-future-selection="disableFutureDates"></calendar-md>
    </div>
</div>
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
<script src="https://cdn.rawgit.com/bradberger/angular-material-calendar/master/dist/angular-material-calendar.js"></script>
<script src="assets/libraries/angular-animate.min.js"></script>
<script src="assets/libraries/angular-aria.min.js"></script>
<script src="assets/libraries/angular-sanitize.min.js"></script>
<script src="assets/libraries/angular-material.min.js"></script>
<script src="assets/libraries/angular-material-calendar.js"></script>
<script src="assets/libraries/demo.js"></script>