<META name="Author" content="Victor">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Cliënten</h1>
        </div>

        <body>


        <!--header boven tabellen-->
        <div class="row">
            <div class="col-md-4">
                <div id="headertable">
                    <ul id="tabs" class="nav nav-tabs">

                        <li class="active"><a data-target="#activeclients" ng-click="activetab=true" data-toggle="tab">Actief</a>
                        </li>
                        <li><a data-target="#nonactiveclients" ng-click="activetab=false" data-toggle="tab">Non-actief</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-5">
                <input type="search" class="form-control" placeholder="Zoeken" ng-model="searchKeyword">
            </div>


        </div>


        <!--inhoud van de tabellen-->

        <div class="tab-content">

            <!--tabel met actieve clienten-->
            <div class="tab-pane active" id="activeclients">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th><label>Voornaam</label></th>
                        <th><label>Achternaam</label></th>
                        <th><label>Studie</label></th>
                        <th><label>Telefoonnummer</label></th>
                        <th><label>Email</label></th>
                        <th><label>Tag</label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="client in clients | filter:searchKeyword | filter: {active:true} | orderBy:'firstname'">
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-click="selectClient()"
                                           checklist-model="selectedClient.id"
                                           checklist-value="client.id">
                                </label>
                            </div>
                        </td>
                        <td class="filterable-cell" ng-click="viewSettedClient(client.id)">{{ client.firstname }}</td>
                        <td class="filterable-cell" ng-click="viewSettedClient(client.id)">{{ client.lastname }}</td>
                        <td class="filterable-cell" ng-click="viewSettedClient(client.id)">{{ client.study }}</td>
                        <td class="filterable-cell" ng-click="viewSettedClient(client.id)">{{ client.phonenumber }}</td>
                        <td class="filterable-cell" ng-click="viewSettedClient(client.id)">{{ client.emailAddress }}</td>
                        <td class="filterable-cell" ng-click="viewSettedClient(client.id)">{{ client.tag }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" id="nonactiveclients">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th><label>Voornaam</label></th>
                        <th><label>Achternaam</label></th>
                        <th><label>Studie</label></th>
                        <th><label>Telefoonnummer</label></th>
                        <th><label>Email</label></th>
                        <th><label>Tag</label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="client in clients | filter:searchKeyword | filter: {active:false} | orderBy:'firstname'">
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-click="selectClient()"
                                           checklist-model="selectedClient.id"
                                           checklist-value="client.id">
                                </label>
                            </div>
                        </td>
                        <td class="filterable-cell" ng-click="viewSettedClient(client.id)">{{ client.firstname }}</td>
                        <td class="filterable-cell" ng-click="viewSettedClient(client.id)">{{ client.lastname }}</td>
                        <td class="filterable-cell" ng-click="viewSettedClient(client.id)">{{ client.study }}</td>
                        <td class="filterable-cell" ng-click="viewSettedClient(client.id)">{{ client.phonenumber }}</td>
                        <td class="filterable-cell" ng-click="viewSettedClient(client.id)">{{ client.emailAddress }}</td>
                        <td class="filterable-cell" ng-click="viewSettedClient(client.id)">{{ client.tag }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-2 col-md-offset-11">
                <div class="row"  id="buttonrow">

                <!--Toevoegen knop-->
                <div class="btn btn-info btn-fab" ng-show="activetab && selectedClient.id.length ==0">
                    <div role="presentation" ng-class="{ 'active': isLocation('/addclient') }">
                        <a ng-click="gotoAddClient()"><i class="material-icons">add</i></a>
                    </div>
                </div>


                <!--Herstellen knop-->
                <div class="btn btn-info btn-fab" ng-show="activetab == false" ng-disabled="$isAdmin == false">
                    <div role="presentation" ng-class="{'disabled':!isSelected()}">
                        <a ng-click="!isSelected() || restore()"><i
                                class="material-icons">restore</i></a>
                    </div>
                </div>


                <!--Verwijderen knop-->
                <div class="btn btn-info btn-fab" ng-class="{'disabled':!isSelected()}" ng-disabled="$isAdmin == false" ng-show="activetab && selectedClient.id.length >0">
                    <div role="presentation" ng-class="{ 'active': isLocation('/clients') }">
                        <a ng-click= "delete()" > <i class="material-icons">delete</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        </body>
    </div>
</div>
