<h1>Bedrijf</h1>

<div class="panel panel-default">

    <div class="panel-heading">
        <h2>
            {{ company.companyName }}
        </h2>
    </div>

    <div>
        <label>Bedrijfsid:
            <span>
                {{ company.id }}
            </span>
        </label>
        <label>Bedrijfsnaam:
            <span>
                {{ company.companyName }}
            </span>
        </label>
        <span>
            {{ company.companyAddressID }}
        </span>

        <span>
            {{ company.phoneNumber }}
        </span>
        <span>
            {{ company.email }}
        </span>
        <span>
            {{ company.tag }}
        </span>
    </div>

</div>