<h1>Bedrijf</h1>

<div class="panel panel-default">

    <div class="panel-heading">
        [bedrijfsnaam]
    </div>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Bedrijf address ID</th>
            <th>Bedrijfsnaam</th>
            <th>Telefoonnummer</th>
            <th>Email</th>
            <th>Tag</th>
        </thead>
        <tbody>
        <tr>
            <td>{{ testID.id }}</td>
            <td>{{ testID.companyAddressID }}</td>
            <td>{{ testID.companyName }}</td>
            <td>{{ testID.phoneNumber }}</td>
            <td>{{ testID.email }}</td>
            <td>{{ testID.tag }}</td>
        </tr>
        </tbody>
    </table>
    <span>{{ selectedcompany }}</span>

</div>