<h1>Bedrijf</h1>

<div class="panel panel-default">

    <div class="panel-heading">
        <h2>
            {{ company.companyName }}
        </h2>
    </div>

    <div>
        <label>Bedrijfsid:</label>
        <input type="text" value=" {{ company.id }}"/>

        <label>Bedrijfsnaam:</label>
        <input type="text" value="{{ company.companyName }}"/>

        <span>
            {{ company.companyAddressID }}
        </span>

        <span>
            {{ company.phoneNumber }}
        </span>
        <span>
            {{ company.emailAddress }}
        </span>
        <span>
            {{ company.tag }}
        </span>
        <span>
            {{ note }}
        </span>
    </div>

</div>