<div class="col-md-10 col-md-offset-1">

<div class="panel panel-default">
    <div class="panel-heading">
        <h5>Medewerkers</h5>

        <ul class="nav navbar-nav navbar-right btn btn-info btn-default">
            <li role="presentation" ng-class="{ 'active': isLocation('/editEmployee') }">
                <a ng-click="gotoEditEmployee()">
                    <i class="material-icons">create</i></a>
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right btn btn-info btn-default">
            <li role="presentation" ng-class="{ 'active': isLocation('/addEmployee') }">
                <a ng-click="gotoAddEmployee()">
                    <i class="material-icons">add</i></a>
                </a>
            </li>
        </ul>
    </div>

    <table class="table table-hover">
        <thead>
            <th></th>
            <th><label>Voornaam</label></th>
            <th><label>Achternaam</label></th>
            <th><label>Studie</label></th>
            <th><label>Telefoonnummer</label></th>
            <th><label>Email</label></th>
            <th><label>Tag</label></th>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees">
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-click="selectEmployee()"
                                   checklist-model="selectedEmployee.id"
                                   checklist-value="employee.id">
                        </label>
                    </div>
                </td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.study }}</td>
                <td>{{ employee.phoneNumber }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.tag }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>