
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div class="container">
    <!--<div class="row">-->
    <!--<div class="col-md-10 col-md-offset-1">-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Medewerkers</h1>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div id="headertable">
                    <ul id="tabs" class="nav nav-tabs">

                        <li class="active"><a data-target="#activeemployees" ng-click="activetab=true" data-toggle="tab">Actief</a>
                        </li>
                        <li><a data-target="#nonactiveemployees" ng-click="activetab=false" data-toggle="tab">Non-actief</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-5">
                <input type="search" class="form-control" placeholder="Zoeken" ng-model="searchKeyword">
            </div>


        </div>


        <!--inhoud van de tabellen-->
        <div class="tab-content">

            <!--tabel met actieve medewerkers-->
            <div class="tab-pane active" id="activeemployees">
                <!--id="actieveMedewerkers"-->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th><label>Voornaam</label></th>
                            <th><label>Achternaam</label></th>
                            <th><label>Studie</label></th>
                            <th><label>Telefoonnummer</label></th>
                            <th><label>Email</label></th>
                            <th><label>Tag</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="employee in employees | filter:searchKeyword | filter: {active:true} | orderBy:'firstName'" ng-click="viewSettedEmp(employee.id)" >
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-click="selectEmployee()"
                                               checklist-model="selectedEmployee.id"
                                               checklist-value="employee.id">
                                    </label>
                                </div>
                            </td>
                            <td class="filterable-cell">{{ employee.firstName }}</td>
                            <td class="filterable-cell">{{ employee.lastName }}</td>
                            <td class="filterable-cell">{{ employee.study }}</td>
                            <td class="filterable-cell">{{ employee.phoneNumber }}</td>
                            <td class="filterable-cell">{{ employee.email }}</td>
                            <td class="filterable-cell">{{ employee.tag }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--id="nietActieveMedewerkers"-->
            <div class="tab-pane" id="nonactiveemployees">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th><label>Voornaam</label></th>
                            <th><label>Achternaam</label></th>
                            <th><label>Studie</label></th>
                            <th><label>Telefoonnummer</label></th>
                            <th><label>Email</label></th>
                            <th><label>Tag</label></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="employee in employees | filter:searchKeyword | filter: {active:false} | orderBy:'firstName'" ng-click="viewSettedEmp(employee.id)" >
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-click="selectEmployee()"
                                           checklist-model="selectedEmployee.id"
                                           checklist-value="employee.id">
                                </label>
                            </div>
                        </td>
                        <td class="filterable-cell">{{ employee.firstName }}</td>
                        <td class="filterable-cell">{{ employee.lastName }}</td>
                        <td class="filterable-cell">{{ employee.study }}</td>
                        <td class="filterable-cell">{{ employee.phoneNumber }}</td>
                        <td class="filterable-cell">{{ employee.email }}</td>
                        <td class="filterable-cell">{{ employee.tag }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-2 col-md-offset-11">
            <div class="row"  id="buttonrow">
            <!--<div class="btn-group">-->
            <!--Toevoegen knop-->
            <div class="btn btn-info btn-fab" ng-show="activetab && selectedEmployee.id.length ==0">
                <div role="presentation" ng-class="{ 'active': isLocation('/addEmployee') }">
                    <a ng-click="gotoAddEmployee()"><i class="material-icons">add</i></a>
                </div>
            </div>

        <!--Aanpassen knop-->

        <!--<div class="col-md-1 col-md-offset-10" id="zoominbutton">-->
            <!--<div role="presentation" ng-class="{'disabled':!isSelected()}">-->
                <!--<a ng-click="!isSelected() || gotoViewEmployee()" class="btn btn-info btn-fab"><i class="material-icons">launch</i></a>-->
            <!--</div>-->
        <!--</div>-->
            <div class="btn btn-info btn-fab" ng-show="activetab == false">
                <div role="presentation" ng-class="{'disabled':!isSelected()}">
                    <a ng-click="!isSelected() || gotoEmployees()"><i
                            class="material-icons">restore</i></a>
                </div>
            </div>

        <!--Verwijderen knop-->
        <!--<div class="col-md-1 col-md-offset-11" id="deletebutton">-->
            <!--<div role="presentation" ng-class="{ 'active': isLocation('/employees') }">-->
                <!--<a ng-click="gotoDeleteEmployee()" class="btn btn-info btn-fab"> <i class="material-icons">delete</i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
            <div class="btn btn-info btn-fab"ng-show="activetab && selectedEmployee.id.length >0">
                <div role="presentation" ng-class="{ 'active': isLocation('/employees') }">
                    <a ng-click="gotoEmployees()"> <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
        </div>
    </div>


        </body>
    </div>

</div>


