<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">IN2</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li role="presentation" ng-class="{ 'active': isLocation('/') }">
                    <a ng-click="gotoHome()">
                        <span class="material-icons">home</span>
                        Home
                    </a>
                </li>

                <li role="presentation"  ng-if="authenticated" ng-class="{ 'active': isLocation('/employees') }">
                    <a ng-click="gotoEmployees()">
                        <span class="material-icons">sentiment_very_satisfied</span>
                        Medewerkers
                    </a>
                </li>

                <li role="presentation" ng-if="authenticated" ng-class="{ 'active': isLocation('/companies') }">
                    <a ng-click="gotoCompanies()">
                        <span class="material-icons">domain</span>
                        Bedrijven
                    </a>
                </li>


                <li role="presentation"  ng-if="authenticated" ng-class="{ 'active': isLocation('/clients') }">
                    <a ng-click="gotoClients()">
                        <span class="material-icons">people</span>
                        Cliënten
                    </a>
                </li>
                <li role="presentation" ng-if="authenticated" ng-class="{ 'active': isLocation('/overview') }">
                    <a ng-click="gotoOverview()">
                        <span class="material-icons">settings</span>
                        Accounts
                    </a>
                </li>
                <li role="presentation" ng-if="authenticated" ng-class="{ 'active': isLocation('/calender') }">
                    <a ng-click="gotoCalender()">
                        <span class="material-icons">date_range</span>
                        Agenda
                    </a>
                </li>

                <li role="presentation" ng-if="authenticated" ng-class="{ 'active': isLocation('/search') }">
                    <a ng-click="gotoSearch()">
                        <span class="material-icons">search</span>
                        Zoeken
                    </a>
                </li>


                <li role="presentation" ng-if="authenticated" ng-class="{'active': isLocation('/')}">
                    <a ng-click="logout()">
                        <span class="material-icons">power_settings_new</span>
                        Uitloggen
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>