<div id="loginscreen" class="container  col-md-4 col-md-offset-4">
    <div class="panel panel-info" ng-if="!authenticated">


        <div id="loginheader" class="panel-heading">
            <div class="col-md-10 col-md-offset-1">
                <h3 class="panel-title ">Inloggen bij IN2</h3>
            </div>
        </div>

        <form name="loginForm" class="panel-body" ng-submit="login()" novalidate>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <label class="control-label">E-mailadres</label>
                    <input type="email" class="form-control" ng-model="$parent.email" ng-required="true"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" ng-model="$parent.password" ng-required="true"/>
                </div>
            </div>

            <div id="loginformbottom">

                <div class="abmFormGroup">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="abmcheckbox">
                            <label>
                                <input type="checkbox" ng-model="$parent.remember">
                                Gegevens onthouden
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-md-5">
                    <input type="submit" class="btn btn-primary " value="Inloggen" ng-disabled="loginForm.$invalid"/>

                </div>
            </div>
        </form>

    </div>
</div>
</div>
<!--<body ng-if="authenticated">-->
<!--<h1>Welkom {{ authenticated ? authenticator.fullName : "" }}</h1>-->
<!--</body>-->

<div class="panel panel-default panel-transparent" ng-if="authenticated">
    <!--<div class="row">-->
    <!--<div class="col-xs-6 col-md-3">-->
    <!--<a href="#" class="thumbnail">-->
    <!--<img src="..." alt="...">-->
    <!--</a>-->
    <!--<a href="#" class="thumbnail">-->
    <!--<img src="..." alt="...">-->
    <!--</a>-->
    <!--<a href="#" class="thumbnail">-->
    <!--<img src="..." alt="...">-->
    <!--</a>-->
    <!--</div>-->

    <!--</div>-->

</div>