<div id="loginscreen" class="container  col-md-4 col-md-offset-4">
    <div class="panel panel-info" ng-if="!authenticated">


        <div id="loginheader" class="panel-heading">
            <div class="col-md-10 col-md-offset-4">

                <img class="img-responsive" id="logo" src = "../../assets/images/LOGO_IN2.png">

            </div>
        </div>

        <form name="loginForm" class="panel-body" ng-submit="login()" novalidate>

            <div class="col-md-10 col-md-offset-1">
                <div class="form-group label-floating">

                    <label for="email" class="control-label">E-mailadres</label>
                    <input class="form-control" id="email" type="emailAdress" class="form-control"
                           ng-model="$parent.emailAddress" ng-required="true"/>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="form-group label-floating">

                    <label for="password" class="control-label">Wachtwoord</label>
                    <input type="password" id="password" class="form-control" ng-model="$parent.password"
                           ng-required="true"/>
                </div>
            </div>


            <div class="form-group">
                <div id="memorize" class="col-md-6 col-md-offset-1">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$parent.remember">
                            Gegevens onthouden
                        </label>
                    </div>
                </div>

            </div>

            <div id="loginbutton" class="col-md-5">
                <input type="submit" class="btn btn-primary " value="Inloggen" ng-disabled="loginForm.$invalid"/>

            </div>
        </form>

    </div>
</div>
</div>
<!--<body ng-if="authenticated">-->
<!--<h1>Welkom {{ authenticated ? authenticator.fullName : "" }}</h1>-->
<!--</body>-->

<div class="panel panel-default panel-transparent" ng-if="authenticated">
    <!--<div class="row">-->
    <!--<div class="col-xs-6 col-md-3">-->
    <!--<a href="#" class="thumbnail">-->
    <!--<img src="..." alt="...">-->
    <!--</a>-->
    <!--<a href="#" class="thumbnail">-->
    <!--<img src="..." alt="...">-->
    <!--</a>-->
    <!--<a href="#" class="thumbnail">-->
    <!--<img src="..." alt="...">-->
    <!--</a>-->
    <!--</div>-->

    <!--</div>-->

</div>