<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h5>Accounts</h5>
        </div>

        <table class="table table-hover">
            <thead>

            <th></th>
            <th><label>E-mailadres</label></th>
            <th><label>Wachtwoord</label></th>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-click="selectUser()" checklist-model="selectedUser.accountName" checklist-value="user.accountName">
                        </label>
                    </div>
                </td>
                <td>{{ user.accountName }}</td>
                <td>{{ user.password }}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>