<div class="container">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h1>Account aanmaken</h1>
        </div>

        <form name="registrationForm" class="panel-body" ng-submit="register()" novalidate>

            <div class="col-md-4">
                <div class="form-group label-floating">
                    <label class="control-label" for="email">E-mailadres</label>
                    <input type="email" class="form-control" id="email" ng-model="emailAddress" ng-required="true"/>
                </div>

                <div class="form-group label-floating">
                    <label for="password" class="control-label">Wachtwoord</label>
                    <input type="password" class="form-control" id="password" ng-model="password" ng-required="true"/>
                </div>
            </div>


            <div class="col-md-5 col-md-offset-2" id="radiobuttons">
                <div class="radio radio-primary">
                    <label>
                        <input type="radio" ng-model="privilege" name="optionsRadios" id="optionsRadios1" value="3" checked="">
                        Werknemer
                    </label>
                </div>
                <div class="radio radio-primary">
                    <label>
                        <input type="radio" ng-model="privilege" name="optionsRadios" id="optionsRadios2" value="1">
                        Admin
                    </label>
                </div>
            </div>

            <div class="col-md-5 col-md-offset-3" id="addbuttongroupaccount">
                <div class="row top-buffer">

                    <input type="button" class="btn btn-primary" value="Annuleren"
                           onClick="history.go(-1);return true;"/>
                    <input type="submit" class="btn btn-primary" value="Aanmaken"
                           ng-disabled="registrationForm.$invalid"/>
                </div>

            </div>
        </form>
    </div>
</div>