<!DOCTYPE html>
<div class="col-md-10 col-md-offset-1">

    <div class="container">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h1>Medewerker</h1>
            </div>

            <div class="col-md-2 col-md-offset-11">
                <div class="row"  id="buttonrow">
                    <div class="btn btn-info btn-fab">
                        <div role="presentation" ng-class="{ 'active': isLocation('/editEmployee') }">
                            <a ng-click="gotoEditEmployee()"><i
                                    class="material-icons">launch</i></a>
                        </div>
                    </div>
                </div>
            </div>

            <form class="panel-body" novalidate>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Voornaam</label>
                        <input type="text" class="form-control" ng-model="employees.firstName" ng-readonly="true" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Achternaam</label>
                        <input type="text" class="form-control" ng-model="employees.lastName" ng-readonly="true" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Geboortedatum</label>
                        <input type="text" class="form-control" ng-model="employees.birthDate" ng-readonly="true" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Studie</label>
                        <input type="text" class="form-control" ng-model="employees.study" ng-readonly="true" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Adres</label>
                        <input type="text" class="form-control" ng-model="employees.address" ng-readonly="true" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Postcode</label>
                        <input type="text" class="form-control" ng-model="employees.postcode" ng-readonly="true" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Woonplaats</label>
                        <input type="text" class="form-control" ng-model="employees.city" ng-readonly="true" ng-required="true" />
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">E-mailadres</label>
                        <input type="emailAddress" class="form-control" ng-model="employees.email" ng-readonly="true" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Telefoon</label>
                        <input type="text" class="form-control" ng-model="employees.phoneNumber" ng-readonly="true" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Tags</label>
                        <input type="text" class="form-control" ng-model="employees.tag" ng-readonly="true" ng-required="false" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Notitie</label>
                        <textarea class="form-control" ng-model="employees.noteText" ng-readonly="true" rows="5"></textarea>
                    </div>
                    <!--Gaat één pagina terug, zonder veranderingen-->
                    <input type="button" class="btn btn-primary" value="Terug" onClick="history.go(-1);return true;" />
                </div>

            </form>

        </div>
    </div>
</div>