/*
* Styling for the tables
*
*/

.panel-heading {
    padding: 24px;
}

thead {
    font-size: 12px;
    text-color: #000 54%;
}

h5.panel-title {
    font-size: 20px;
    text-color: #000 87%;

}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #E0F7FA;
}

.table-hover label{
    display:inline;
}

.table > tbody > tr > td {
    vertical-align: middle;
    cursor: pointer;
}

input[type="checkbox"]{
    margin-top: 0;
    line-height: normal;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle !important;
}


.tab-content {

    overflow: auto;
    height: 475px !important;
}

#buttonrow {
    position: relative;
    bottom: 20px;

}

.btn .btn-info .btn-fab {
    padding: 0px 10px 0px 10px;

}

.btn.btn-fab.btn-info {
    background-color: #4DD0E1 !important;

}

.btn.btn-fab.btn-info:hover {
    background-color: #E0F7FA !important;
}


.material-icons {
    color: #FFFFFF;
}

/*@media (min-width: 768px) {*/
    /*#addbutton {*/
        /*position: relative;*/
        /*bottom: 28px;*/
        /*overflow: hidden;*/
    /*}*/

    /*#zoominbutton {*/
        /*position: relative;*/
        /*bottom: 83px;*/
        /*overflow: hidden;*/
    /*}*/

    /*#deletebutton {*/
        /*position: relative;*/
        /*bottom: 139px;*/
        /*overflow: hidden;*/
    /*}*/
/*}*/


