ul.nav-tabs {
    background-color: rgba(255, 255, 255, 0.0);
    border-bottom: .333rem solid transparent;
}
ul.nav-tabs li.active {
    border-bottom: .333rem solid teal;
    color: grey;
}
ul.nav-tabs li a,
ul.nav-tabs li a:focus
{
    color: grey !important;
}
ul.nav-tabs li a:hover {
    color: black !important;
}